@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="text-center">
        <h1 class="display-4">Vista a los productos</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>


    <header>
        <div class="header-container">
            <h1><a href="index.html">Productos</a></h1>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Articulos</a></li>
                    <li><a href="#">Referencias </a></li>
                    <li><a href="#">Pedidos</a></li>
                    <li><a href="#">categorias</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="presentation" id="presentation">
        <div class="presentation-video">
            <video src="./Resources/video/pizza.mp4" autoplay muted loop></video>
        </div>
        <div class="dark-everlay">
            <div class="presentation-content">
                <h2>Producto 1</h2>
                <p>
                    Espesificacion de Producto uno
                </p>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-container left" id="about-img1"></div>
        <div class="about-container right about-content">
            <h2 class="about-title">Nuestros productos en linea</h2>
          
        </div>

        <div class="about-container right" id="about-img2"></div>
        <div class="about-container left about-content">
            <h2 class="about-title">Nuestra Historia</h2>
            
        </div>

    </section>

    <section class="menu" id="menu">
        <div class="dark-everlay">
            <div class="menu-inner">
                <h2 class="menu-title">Nuestra Descripcion</h2>
                <ul>
                    <li>
                        <div>Articulo</div>
                        <div>Precio</div>
                    </li>

                    <li>
                        <div>Articulo</div>
                        <div>Precio</div>
                    </li>

                    <li>
                        <div>Articulo</div>
                        <div>Precio</div>
                    </li>

                    <li>
                        <div>Articulo</div>
                        <div>Precio</div>
                    </li>

                    <li>
                        <div>Articulo</div>
                        <div>Precio</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</body>