@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="Login-card">
        <h2>Login</h2>
        <h3>Enter you credentials</h3>
        <form class="Login-form">
            <input type="text"
                   placeholder="Username" />
            <input type="password"
                   placeholder="password" />
            <a href="#">
                ¿has olvidado tu contraseña?
            </a>
            <button>Logeo</button>
        </form>
    </div>
</body>
</html>